@import url("https://fonts.googleapis.com/css2?family=Allan&family=Inter:wght@400;700;800&family=Mulish:wght@400;600;700&family=Noto+Sans+Symbols:wght@300;600;700&family=Open+Sans:ital,wght@0,300;0,400;1,600&family=Raleway:wght@400;800&family=Roboto:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
  color: #00001a;
}
img {
  width: 100%;
  height: 100%;
}

.container {
  min-width: 375px;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0 10px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nav_list {
  display: none;
}

.container_content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}
.article img {
  height: 300px;
  object-fit: cover;
}

.article h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin: 24px 0 16px 0;
}

.article p {
  color: #5e607a;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.article a {
  display: block;
  width: 185px;
  height: 48px;
  background-color: #f15d51;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.375px;
  text-align: center;
  border: none;
  text-transform: uppercase;
}
.article a:hover {
  background-color: #f15e51b9;
}

.articles_new {
  padding: 24px 20px;
  background-color: #00001a;
  margin-top: 64px;
}
.articles_new h1 {
  color: #e9aa52;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 35px;
}
.articles_new h3 {
  color: #fffdfa;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 8px;
}
.articles_new p {
  color: #c5c6ce;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #5e607a;
  margin: 29px 0 31px 0;
}

.article_with_photo {
  margin-top: 64px;
  margin-bottom: 80px;
  height: 645px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
.art_ph_block {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-template-rows: 196px;
  gap: 25px;
}
.art_ph_block img {
  object-fit: cover;
}
.art_ph_block span {
  color: #c5c6ce;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #00001a;
}
.art_ph_block a h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  margin: 12px 0 9px 0;
}
.art_ph_block a p {
  color: #5e607a;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

/* //////////////  */
/* RESPONSIVE */
/* //////////////// */

@media screen and (min-width: 768px) {
  .burger_menu {
    display: none;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 72px;
    padding: 0 15px;
  }

  .nav_list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav_list li {
    color: #5e607a;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  .container_content {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .article {
    flex-grow: 2;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .article img {
    grid-column: 1/3;
    object-fit: cover;
  }
  .article h1 {
    margin: 0;
  }
  .article h1 {
    font-size: 56px;
    line-height: 56px;
  }
  .article p {
    margin-bottom: 29px;
  }

  .articles_new {
    width: 100%;
    flex-grow: 1.5;
    padding: 32px 20px;
    margin-top: 0px;
  }
  .article_with_photo {
    margin-bottom: 129px;
    height: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
